#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
section{
  justify-content: flex-start;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
  grid-gap: 10px; /* Отступы между кнопками */
  margin-top: 20px;
}

button {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:active {
  box-shadow: 0 2px #aaa;
  transform: translateY(2px);
}

button:hover {
  background-color: #ddd;
}

.display {
  font-size: 2rem;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 20px;
}

